---
layout: default
section_id: portfolio
works_left:
- title: Open Labs
  link_to: openlabs
  image: images/@stock/openlabs.jpg
  categories: Visual ID
- title: OpenChain
  link_to: openchain
  image: images/@stock/penguins.jpg
  categories: Visual
works_middle:
- title: Software Freedom Kosova
  link_to: sfk16
  image: images/@stock/poster SFK.jpg
  categories: Visual ID, Print
works_right:
- title: Mozilla L10N T-Shirts
  link_to: mozilla-l10n
  image: images/@stock/mozilla-l10n.jpg
  categories: Print
---

<div class="full works overlay">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp">Projects</h1>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="full no-overflow">
  <div class="four spacing"></div>
  <div class="large-4 columns">
    {% for work in page.works_left %}
      <div class="work-wrapper">
        <a href="{{work.link_to}}" class="work">
          <img src="{{site.url}}/{{work.image}}" alt="">
          <div class="info">
            <h3>{{work.title}}</h3>
            <p>{{work.categories}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="large-4 columns">
    {% for work in page.works_middle %}
      <div class="work-wrapper">
        <a href="{{work.link_to}}" class="work">
          <img src="{{site.url}}/{{work.image}}" alt="">
          <div class="info">
            <h3>{{work.title}}</h3>
            <p>{{work.categories}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="large-4 columns">
    {% for work in page.works_right %}
      <div class="work-wrapper">
        <a href="{{work.link_to}}" class="work">
          <img src="{{site.url}}/{{work.image}}" alt="">
          <div class="info">
            <h3>{{work.title}}</h3>
            <p>{{work.categories}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
