---
layout: default
section_id: portfolio
works_left:
- title: SecureDrop Style Guide
  link_to: securedrop
  image: images/projects/securedrop_overview.png
  categories: Style Guide
- title: I2P Style Guide and Usability Study
  link_to: i2p
  image: images/projects/i2p_overview.png
  categories: Usability Study | Style Guide
- title: Thunderbird Style Guide and Usability Study
  link_to: thunderbird
  image: images/projects/tb_overview.png
  categories: Usability Study | Style Guide
- title: Open Labs
  link_to: openlabs
  image: images/projects/openlabs_thumbnail.png
  categories: Visual Identity
- title: OpenChain Penguins
  link_to: openchain
  image: images/projects/penguins_thumb.jpg
  categories: Illustration
works_middle:
- title: LibOCon 2018 Visual Identity
  link_to: libocon
  image: images/projects/libocon_overview.png
  categories: Visual Identity
- title: Software Freedom Kosova
  link_to: sfk16
  image: images/projects/poster_SFK.jpg
  categories: Visual Identity, Print
- title: Tor Style Guide
  link_to: tor-style-guide
  image: images/projects/tor_thumb.png
  categories: Style Guide
works_right:
- title: Reproducible Builds Style Guide
  link_to: reproducible-builds
  image: images/projects/rb_thumbnail.png
  categories: Style Guide
- title: Enigmail Rebranding
  link_to: enigmail
  image: images/projects/enigmail_overview.png
  categories: Visual Identity
- title: Mozilla L10N T-Shirts
  link_to: mozilla-l10n
  image: images/projects/mozilla-l10n.jpg
  categories: Print
---

<div class="full new" style="background-color: #3399d4;">
  <div class="section-title new">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp" style="font-size: 2rem;">Projects</h1>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="full text">
  <div class="row">
  <div class="large-4 columns">
    {% for work in page.works_left %}
      <div class="work-wrapper">
        <a href="{{work.link_to}}" class="work">
          <img class="lazy" data-src="{{site.baseurl}}/{{work.image}}" alt="">
          <div class="info">
            <h3>{{work.title}}</h3>
            <p>{{work.categories}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="large-4 columns">
    {% for work in page.works_middle %}
      <div class="work-wrapper">
        <a href="{{work.link_to}}" class="work">
          <img class="lazy" data-src="{{site.baseurl}}/{{work.image}}" alt="">
          <div class="info">
            <h3>{{work.title}}</h3>
            <p>{{work.categories}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="large-4 columns">
    {% for work in page.works_right %}
      <div class="work-wrapper">
        <a href="{{work.link_to}}" class="work">
          <img class="lazy" data-src="{{site.baseurl}}/{{work.image}}" alt="">
          <div class="info">
            <h3>{{work.title}}</h3>
            <p>{{work.categories}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  </div>
</div>
