---
layout: default
section_id: portfolio
works_left:
- title: Open Labs
  link_to: openlabs
  image: images/@stock/openlabs.jpg
  categories: Visual ID
- title: OpenChain Penguins
  link_to: openchain
  image: images/@stock/penguins_thumb.jpg
  categories: Illustration
- title: Reproducible Builds Styleguide
  link_to: reproducible-builds
  image: images/@stock/rb_thumbnail.png
  categories: Styleguide
works_middle:
- title: Software Freedom Kosova
  link_to: sfk16
  image: images/@stock/poster_SFK.jpg
  categories: Visual ID, Print
- title: Tor Style Guide
  link_to: tor-style-guide
  image: images/@stock/tor_thumb.png
  categories: Style Guide
works_right:
- title: Mozilla L10N T-Shirts
  link_to: mozilla-l10n
  image: images/@stock/mozilla-l10n.jpg
  categories: Print
- title: Enigmail Rebranding
  link_to: enigmail
  image: images/@stock/enigmail_overview.png
  categories: Visual Identity
---

<div class="full new" style="background-color: #3399d4;">
  <div class="section-title new">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp" style="font-size: 2rem;">Projects</h1>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="full text">
  <div class="row">
  <div class="large-4 columns">
    {% for work in page.works_left %}
      <div class="work-wrapper">
        <a href="{{work.link_to}}" class="work">
          <img src="{{site.url}}/{{work.image}}" alt="">
          <div class="info">
            <h3>{{work.title}}</h3>
            <p>{{work.categories}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="large-4 columns">
    {% for work in page.works_middle %}
      <div class="work-wrapper">
        <a href="{{work.link_to}}" class="work">
          <img src="{{site.url}}/{{work.image}}" alt="">
          <div class="info">
            <h3>{{work.title}}</h3>
            <p>{{work.categories}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="large-4 columns">
    {% for work in page.works_right %}
      <div class="work-wrapper">
        <a href="{{work.link_to}}" class="work">
          <img src="{{site.url}}/{{work.image}}" alt="">
          <div class="info">
            <h3>{{work.title}}</h3>
            <p>{{work.categories}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  </div>
</div>
