---
layout: default
section_id: pages
members:
- name: Elio Qoshi
  position: Founder &amp; Design Lead
  avatar: images/@stock/ElioHeadshot.jpg
  avatar_hover: images/@stock/ElioHeadshot.jpg
  socials:
  - name: facebook
    url: https://facebook.com/elioqoshi
  - name: twitter
    url: https://twitter.com/elioqoshi
  - name: envelope
    url: mailto:elio@ura.design
- name: Redon Skikuli
  position: Business Development
  avatar: images/@stock/RedonHeadshot.jpg
  avatar_hover: images/@stock/RedonHeadshot.jpg
  socials:
  - name: globe
    url: https://redon.skikuli.com/
  - name: twitter
    url: https://twitter.com/rskikuli
  - name: envelope
    url: mailto:redon@ura.design
- name: Mariana Balla
  position: Outreach
  avatar: images/@stock/MarianaHeadshot.jpg
  avatar_hover: images/@stock/MarianaHeadshot.jpg
  socials:
  - name: globe
    url: https://marianaballa.com/
  - name: twitter
    url: https://twitter.com/marianaballa1
  - name: envelope
    url: mailto:mariana@ura.design
- name: Boris Budini
  position: System Administrator
  avatar: images/@stock/BorisHeadshot.jpg
  avatar_hover: images/@stock/BorisHeadshot.jpg
  socials:
  - name: globe
    url: https://boris.budini.me/
  - name: twitter
    url: https://twitter.com/borisbudini
  - name: envelope
    url: mailto:boris@ura.design
- name: Anxhelo Lushka
  position: Frontend &amp; Designer
  avatar: images/@stock/AnxheloHeadshot.jpg
  avatar_hover: images/@stock/AnxheloHeadshot.jpg
  socials:
  - name: globe
    url: https://lushka.al/
  - name: github
    url: https://github.com/AnXh3L0
  - name: envelope
    url: mailto:anxhelo@ura.design
---

<div style="background-color: #3399d4;" class="full centered-text">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 style="color: #fff;" class="wow slideInDown">About Us</h1>
      </div>
    </div>
    </div>
  </div>
<div class="full">
  <div class="row">
   <div class="large-12 large-centered columns">
     <p>Ura is the open source design agency founded by a passionate team of open source contributors. Its name comes from the Albanian word Ura, which means bridge. We aim to connect innovative open source projects with accessible and people-centric design approaches.</p>
<p>We love Free & Open Source software! However we also believe that there is a lack of good design in many open source projects, which we want to change.</p>
<p>Good design can differentiate your open source project. Our logos are seen on dozens of open source projects from famous brands like Mozilla, Red Hat and Wikimedia. We have extensive experience working with open source projects, doing design, documentation, research and community building.</p>
    </div>
  </div>
  <div class="two spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Our Team</h2>
        <p>The usual suspects</p>
      </div>
    </div>
  </div>
  <div class="row">
    {% for member in page.members %}
      <div class="large-3 columns">
        <div class="member">
          <img src="{{site.url}}/{{member.avatar}}" alt="">
          <img class="colored" src="{{site.url}}/{{member.avatar_hover}}" alt="">
          <div class="member-info">
            <h4>{{member.name}}</h4>
            <p class="position">{{member.position}}</p>
            <ul class="socials">
              {% for social in member.socials %}
                <li><a href="{{social.url}}"><i class="fab fa-{{social.name}}"></i></a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

