---
layout: default
title: Ura Design | Services
section_id: pages
services:
- title: Visual Identity
  desc: 
  icon: fa fa-tint
- title: Brand Strategy
  desc: 
  icon: fas fa-lightbulb
- title: Usability
  desc: 
  icon: fas fa-universal-access
- title: UX Design
  desc: 
  icon: fas fa-pencil-alt
- title: Print
  desc: 
  icon: fas fa-print
- title: Copywriting
  desc: 
  icon: fas fa-copy

steps:
- title: Research
  desc: Some projects have a single contact point, while some others work with community consensus. We reseach what the best approach is and propose an action plan tailored to the specific project.
- title: Iterations
  desc: We draft the first proposals and iterate based on feedback, while documenting the steps we took in the open, preferably GitHub.
- title: Implementation
  desc: Once the final work is taking shape we start implementing the designs and help projects along the way if any need arises. We share our work in the open afterwards.
---

<div class="full new" style="background-color: #3399d4;">
  <div class="section-title new">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp" style="font-size: 2rem;">Services</h1>
      </div>
    </div>
  </div>
</div>
<div class="full text">
   <div class="row">
    <div class="large-12 centered-text columns">
      <p>While we specialize in working with Open Source and Internet Freedom Projects, we understand that every community might have different needs and aim to accommodate those in our design processes.</p>
     </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="services">
        {% for service in page.services %}
          <div class="large-4 columns">
            <a href="javascript:void(0);" class="icon-text">
              <i class="{{service.icon}}"></i><br />
              <h3>{{service.title}}</h3>
              <p>{{service.desc}}</p>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div id="process" class="full light-grey" style="padding: 35px 0;">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Our process</h2>
        <p>We adapt to your consensus model by applying best practices in Open Source Design</p>
      </div>
    </div>
  </div>
  <div class="row">
    {% for step in page.steps %}
      <div class="large-4 columns">
        <div class="process">
          <h3><span>0{{forloop.index}}.</span>{{step.title}}</h3>
          <p>{{step.desc}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full centered-text" style="padding: 50px 0;">
  <div class="row">
    <div class="large-12 columns">
      <h2>Have a project in mind?</h2>
      <p>We now offer <a href="https://ura.design/2018/03/31/introducing-cryptopayments-for-our-services">cryptocurrency payments</a> for our services</p>
      <a href="request" class="button blue boxed">Let's talk</a>
    </div>
  </div>
</div>
