<div class="full no-padding footer brown centered-text">
  <div class="four spacing"></div>
  <div class="row">
    <div class="small-12 columns">
      <ul class="socials">
        <li><a href="#"><i class='fa fa-twitter'></i></a></li>
        <li><a href="#"><i class='fa fa-facebook'></i></a></li>
        <li><a href="#"><i class='fa fa-linkedin'></i></a></li>
        <li><a href="#"><i class='fa fa-dribbble'></i></a></li>
        <li><a href="#"><i class='fa fa-behance'></i></a></li>
      </ul>
      <p>Copyright ©2015 {{site.title}}.</p>
      <p>All rights reserved.</p>
      <div class="four spacing"></div>
      <p class="back-to-top"><a href="#"><i class="fa fa-chevron-up"></i>Back to top</a></p>
    </div>
  </div>
  <div class="spacing"></div>
</div>

<script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/foundation/js/foundation.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.superslides.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/slick.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/wow.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.validate.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/countto/jquery.countTo.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/appear/jquery.appear.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
