/* Site Header
 * ============================================== */
.navbar {
  background-color: transparent;
  padding-top: 2em;
  height: 100px;
}

.nav-brand {
  float: left;
  text-decoration: none;
}

.site-header {
  padding-top: 1em;
  margin: 0 auto;
}

.site-header-color {
  background-image: url("../assets/img/back.svg");
  color: $white;
  min-height: 1225px;
  background-attachment: scroll;
  background-repeat: repeat-x;
}

.site-header-cl {
  background: $blue-indigo;
  color: $white;
  min-height: 450px;
}

.site-header-home {
  background: $blue-indigo;
  color: $white;
  min-height: 600px;
}

.site-header a {
  color: $white;
  text-decoration: underline;
}

.site-header p {
  font-size: 18px;
  color: $gray-950;
}

.site-header h1 {
  display: block;
  color: $brand-color;
  font-weight: 600;
  font-size: 48px !important;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  padding-top: 20px;
  clear: both;
  font-family: 'Overpass';
}

.nav-menu {
  float: right;
  color: $brand-color;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;

  .nav-link {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    line-height: $base-line-height;
    font-weight: regular;
    text-decoration: none !important;
    margin-left: 48px;
  }

  .nav-link:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: $brand-color;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .nav-link:active:before,
  .nav-link:focus:before,
  .nav-link:hover:before {
    right: 0;
  }
}

.nav-menu-white {
  float: right;
  color: $white !important;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;

  .nav-link-white {
    color: $white;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    line-height: $base-line-height;
    font-weight: regular;
    text-decoration: none !important;
    margin-left: 48px;
  }

  .nav-link-white:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: $white;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .nav-link-white:active:before,
  .nav-link-white:focus:before,
  .nav-link-white:hover:before {
    right: 0;
  }
}

#menu {
  display: none;
  font-size: 30px;
  color: $brand-color;
  float: right;
}

#menuwhite {
  display: none;
  font-size: 30px;
  color: $white;
  float: right;
}

.responsive {
  display: flex !important;
}

@media only screen and (max-width: 768px) {
  .site-header {
    padding-top: 0;
  }
  #menu, #menuwhite {
    display: block;
  }
  .nav-menu {
    flex-direction: column;
    float: left;
    margin-top: 55px;
    margin-left: -165px;
    display: none;
    font-size: 20px;
  }
  .nav-menu-white {
    flex-direction: column;
    float: left;
    margin-top: 55px;
    margin-left: -165px;
    display: none;
    font-size: 20px;
  }
  .nav-menu-white .nav-link-white {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .nav-menu .nav-link {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/* Site Footer
 * ============================================== */
.footer {
  padding-top: 4em;
  min-height: 200px;
  background-color: $blue-800;
  padding-bottom: 4em;
  margin: auto;
  font-size: 16px;
  font-family: "Overpass";
  color: $white;

  & a {
    color: $white;
  }
}

.hr-space-2 {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.separator {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;

  &:after {
    content: " ";
    display: inline-block;
    border-left: 2px solid white;
    margin-bottom: -6px;
    height: 16px;
    top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .footer-flex a {
    display: table;
    margin-bottom: 10px;
  }
  .separator {
    display: none !important;
  }
  .sm-mobile {
    padding-left: 15% !important;
    padding-right: 15% !important;
  }
}
/* Tabs
 * ============================================== */
.tab {
  overflow: hidden;
}

.tablinks {
  background-color: $white;
  opacity: 0.5;
  color: $blue-800;
  display: inline-block;
  text-decoration: none !important;
  font-size: 18px !important;
  font-weight: 800;
  box-sizing: border-box;
  border: 0;
  border-radius: 50px;
  padding: 6px 20px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;

  &:hover {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &.active {
    opacity: 1;
  }
}

.tablinkservice {
  background-color: transparent;
  opacity: 0.5;
  color: $white;
  display: block;
  text-decoration: none !important;
  font-size: 18px !important;
  font-weight: 700;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  border-left: 3px solid white;

  &:hover {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &.active {
    opacity: 1;
  }
}

.tabcontentservice {
  display: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.tabcontent {
  display: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Individual Posts
 * ============================================== */
.page-content {
  padding: $spacing-unit 0;
  text-align: justify;
}

.page-heading {
  font-size: 20px;
  padding-top: 2px;
}
/* Archive
 * ============================================== */
.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    display: block;
    padding: 0.1em 1.5em;
  }
}

.post-link {
  font-family: 'Overpass';
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: -1px;
  color: #454545;
  display: block;
  width: 100%;
  @include media-query($on-palm) {
    font-size: 1.33em;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color-light;
  text-transform: uppercase;
  display: inline-block;
}

/* Post Format
 * ============================================== */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1.5;
  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

        a {
        background-color: transparent;
        color: inherit;
        text-decoration: none;
        -webkit-transition: background-color 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
        -o-transition: background-color 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
        transition: background-color 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
        border-bottom: 1px solid $blue-200;
        -webkit-box-shadow: inset 0 -4px 0 $blue-200;
        box-shadow: inset 0 -4px 0 $blue-200;
        overflow-wrap: break-word;
        word-break: break-word;
        word-wrap: break-word;

        &:hover {
          color: $black;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          background-color: $blue-200;
        }
        }

        p {
        font-size: 18px !important;
        font-weight: normal !important;
        line-height: 150% !important;
        color: $gray-900;
        margin-bottom: 32px;

        &:first-of-type:first-letter {
        font-size: 64px !important;
        color: $gray-950;
        float: left;
        line-height: 120%;
        padding-top: 4px;
        padding-right: 2px;
        }
        }


        h2 {
            font-size: 36px !important;
            font-weight: 800 !important;
            color: $gray-900;
            margin-bottom: 32px;

            @include media-query($on-laptop) {
                font-size: 28px;
            }
        }

        h3 {
            font-size: 26px;

            @include media-query($on-laptop) {
                font-size: 22px;
            }
        }

        h4 {
            font-size: 20px;

            @include media-query($on-laptop) {
                font-size: 18px;
            }
        } 

          &::first-letter {
          font-size: 64px !important;
          color: $gray-950;
         }
}

/* Spacings and Generic
 * ============================================== */
hr {
  width: 100%;
  background-color: $gray-200;
  height: 1px !important;
  border: none;
}

.no-margins {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
