---
layout: blog
title: Blog
---

<div class="row">

    {% for post in paginator.posts %}

    {% assign mod = forloop.index | modulo: 2 %}
    {% if mod == 1 %}
      <div class="col-md-6 col-sm-12 pt-3 pb-3">
        <div class="blogbox">
          <div class="row">
          <div class="col-md-6 col-sm-12">
          {% if post.image %}
            <a class="zoom" href="{{post.url | replace:'.html','' }}"><img class="darken" src="../../../assets/img{{ post.image }}" alt="{{ post.title }}"></a>
          {% endif %}
        </div>
        <div class="col-md-6 col-sm-12 make-bigger">
          <div class="pl-3 pr-3">
          <p class="caption-10-bold indigo pt-4">{{ post.type }}</p>
          <a href="{{post.url}}"><p class="title-30">{{ post.title }}</p></a>
          <p class="body-10 pb-5">{{ post.excerpt | truncatewords:12 }}</p>
          <p class="body-10 gray-700 stick-bottom">{{ post.date | date: "%b %-d, %Y" }}</p>
        </div>
        </div>
        </div>
      </div>
      </div>
    {% endif %}


    {% if mod == 0 %}
      <div class="col-md-6 col-sm-12 pt-3 pb-3">
        <div class="blogbox">
          <div class="row">
          <div class="col-md-6 col-sm-12">
          {% if post.image %}
            <a class="zoom" href="{{post.url | replace:'.html','' }}"><img class="darken" src="../../../assets/img{{ post.image }}" alt="{{ post.title }}"></a>
          {% endif %}
        </div>
        <div class="col-md-6 col-sm-12 make-bigger">
          <div class="pl-3 pr-3">
          <p class="caption-10-bold indigo pt-4">{{ post.type }}</p>
          <a href="{{post.url}}"><p class="title-30">{{ post.title}}</p></a>
          <p class="body-10 pb-5">{{ post.excerpt | truncatewords:12 }}</p>
          <p class="body-10 gray-700 stick-bottom">{{ post.date | date: "%b %-d, %Y" }}</p>
        </div>
        </div>
        </div>
      </div>
      </div>
    {% endif %}

  {% endfor %}

</div>
