---
layout: default
---

<div style="background-color: #3399d4;" class="full new">
  <div class="section-title new">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 style="color: #fff; font-size: 2rem;" class="wow slideInDown">Blog</h1>
      </div>
    </div>
    </div>
  </div>
</div>


<div class="full text">
  <div class="row">
  <div class="large-12 columns">

      {{content}}

      {% if paginator %}
        <div class="pager">
          {% if paginator.next_page %}
            {% if paginator.next_page == 1 %}
              <a href="/blog" class="older">Older Entries <i class="fa fa-angle-double-right"></i></a>
            {% else %}
              <a href="/blog/page{{ paginator.next_page }}" class="older">Older Entries <i class="fa fa-angle-double-right"></i></a>
            {% endif %}
          {% else %}
            <!-- <span class="older">Older Entries</span> -->
          {% endif %}
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
              <a href="/blog" class="newer"><i class="fa fa-angle-double-left"></i> Newer Entries</a>
            {% else %}
              <a href="/blog/page{{ paginator.previous_page }}" class="newer"><i class="fa fa-angle-double-left"></i>Newer Entries</a>
            {% endif %}
          {% else %}
            <!-- <span class="newer">Newer Entries</span> -->
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

