---
layout: default
---

<div class="container pb-3">
  <div class="site-header">
    <div class="row">
    <div class="col-md-9 col-sm-12">
    <h1 class="align-left mb-2">Blog</h1>
    </div>
    </div>
  </div>
</div>
  
<div class="bg-mute">
  <div class="container">
      {{ content }}
  </div>
</div>

<div class="container pt-5 pb-3">
      {% if paginator %}
    <div class="row justify-content-center align-middle pt-2 pb-4">
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
              <a href="/blog"><i class="rounded-button background-blue-500 white" data-feather="arrow-left"></i></a>
            {% else %}
              <a href="/blog/page-{{ paginator.previous_page }}"><i class="rounded-button background-blue-500 white" data-feather="arrow-left"></i></a>
            {% endif %}
          {% else %}
          {% endif %}
          <p class="caption-20 pl-4 pr-4 mb-1">Page <strong class="black">{{ paginator.page }} of {{ paginator.total_pages }}</strong></p>
        {% if paginator.next_page %}
            {% if paginator.next_page == 1 %}
              <a href="/blog"><i class="rounded-button background-blue-500 white" data-feather="arrow-right"></i></i></a>
            {% else %}
              <a href="/blog/page-{{ paginator.next_page }}"><i class="rounded-button background-blue-500 white" data-feather="arrow-right"></i></a>
            {% endif %}
          {% else %}
          {% endif %}
    </div>
{% endif %}
</div>