---
layout: event
section_id: event
title: Events
---

{% for item in site.events %}
  <h2>{{ item.title }}</h2>
  <p>{{ item.date }}</p>
  <p><a href="{{ item.url }}">{{ item.title }}</a></p>
{% endfor %}
<!-- <div class="row">
<div class="large-12 columns table" style="border-bottom: 3px solid aliceblue;">
{% assign mod = forloop.index | modulo: 1 %}
{% if mod == 0 %}
<div class="large-1 blog centered-text columns">
        {% if item.categories != empty %}
          <span>
            {% for cat in item.categories %}
              <a href="#">{{cat | capitalize }}</a>
              {% unless forloop.last %}
                  ,
              {% endunless %}
            {% endfor %}
          </span>
          /
        {% endif %}
        <h1 class="blogdate"><a href="{{ item.url | replace:'.html','' }}">{{ item.date | date: "%d" }}</h1>
  <p id="post-month">{{ item.date | date: "%B %Y" }}</p></a>
</div>
<div class="large-8 columns bottom-blog">
    <div class="post-content blog">
      <h3 id="blog-title" class="blog"><a href="{{ post.url | replace:'.html','' }}">{{item.title}}</a></h3>
      <p>{{item.excerpt}}</p>
      <div class="tags">
         {% for tag in item.tags %}
         <a href="{{ site.baseurl }}/tags/#{{tag | slugify }}">{{ tag }}</a>
         {% endfor %}
      </div>
      <p><a href="{{ item.url | replace:'.html','' }}" class="button tiny blue simple boxed">Read more</a></p>
    </div>
</div>
<div class="large-3 columns blog middle-blog" style="margin-bottom: 30px;">
       {% if item.images %}
        <a href="{{ item.url | replace:'.html','' }}"><img style="display: block; margin: auto;" src="{{site.url}}/{{item.images[0]}}" alt="post"></a>
       {% endif %}
</div>
  </div>
{% endif %}
</div>
</div>
<div class="two spacing"></div>
{% endfor %}  -->
